<header class="l-header">
  <nav class="navbar">
    <h1 class="logo">
      <span class="logo-title">p2p.tristank.de</span>
    </h1>

    <ul class="nav">
      <li>
      <a href="javascript:void(0)" class="icon-create-room" {{action 'redirect'}} title="Create a room. You'll leave the room you're currently in.">+</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="icon-help" {{action 'openModal' 'about_app'}} title="About">?</a>
      </li>
    </ul>
  </nav>
</header>

{{outlet}}
{{outlet "modal"}}

<footer class="l-footer">
  <p class="about">{{outlet "about_you"}}</p>
</footer>
